Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/*
config.h
config.h.in
config.log
config.status
configure
libtool
libw.pc
src/.deps/*
src/.libs/*
src/Makefile
src/Makefile.in
src/*.la
src/*.lo
src/*.o
stamp-h1

